<table class="table sort_table" style="font-size: 14px">
  <tr>
    <th><%= sortable "bnb_id", "Bnb" %></th>
    <th>Start at</th>
    <th>End at</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Rating</th>
    <th><%= sortable "status"%></th>
    <th></th>
  </tr>

  <% bookings.try(:each) do |booking| %>
      <tr>
        <td><%= link_to booking.bnb.name, show_bnb_path(booking.bnb) %></td>
        <td><%= booking.event.start_at %></td>
        <td><%= booking.event.end_at %></td>
        <td><%= mail_to booking.bnb.email %></td>
        <td><%= booking.bnb.telephone_number %></td>
        <td><% booking.bnb.rating.times do %>
              <i class="icon-star icon-white"></i>
            <% end %>
        </td>
        <td><%= display_status_label(booking.status) %></td>
        <td><%= link_to 'Edit', edit_guest_bnb_booking_path(booking.bnb, booking), class: 'btn btn-mini btn-primary' unless booking.closed? %></td>
      </tr>
  <% end %>
</table>

<br>
<div class="span9" style="text-align: center;"><%= will_paginate(bookings, :param_name => info_page) %></div>
