<%= simple_form_for [:guest,@bnb,@booking] do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      <div class="form-inputs">
        <h5>Select booking dates:</h5>
        <%= f.simple_fields_for :event do |event_form| %>
            <%= event_form.input :start_at, :as => :datepicker, label: 'Check-in date:', :input_html => { :data => { :previous_value =>  f.object.event.start_at}, :value => f.object.event.start_at} %>

            <%= event_form.input :end_at, :as => :datepicker, label: 'Check-out date:', :input_html => { :data => { :previous_value => f.object.event.end_at}, :value => f.object.event.end_at} %>
        <% end %>
      </div>
    <%= f.association :rate, label_method: :rate_info , collection: @bnb.rates, as: :radio_buttons%>
    <br>

    <%= f.simple_fields_for :guest do |field| %>
            <%= field.input :name %>
            <%= field.input :surname %>
            <%= field.input :contact_number %>
            <%= field.input :email %>
        <% end %>

      <div id='rooms'>
        <% if @booking.new_record? %>
            <h5>Available rooms</h5>
            <%= link_to content_tag('i', '', class: 'icon-search icon-white').concat(' Find Rooms'), find_available_bnb_rooms_path(@bnb), :id => 'room_finder' %>
            <div id='rooms_available'></div>
        <% else %>
            <div id='rooms_available'>
                <h4>Rooms</h4>
                <table class="table table-condensed">
                  <tr>
                    <th>Number</th>
                    <th>Description</th>
                    <th>Rates</th>
                    <th>Capacity</th>
                  </tr>
                  <% @booking.rooms.try(:each) do |room| %>
                      <tr class="center">
                        <td><%= room.room_number %></td>
                        <td><%= room.description  %></td>
                        <td><%= room.rates  %></td>
                        <td><%= room.capacity  %></td>
                      </tr>
                  <% end %>
                </table>
            </div>
            <%= link_to content_tag('i', '', class: 'icon-search icon-white').concat('Change Rooms'), find_available_bnb_rooms_path(@bnb, :booking_id => @booking), :id => 'room_finder' %>

      <% end %>

      </div>
      <%= f.button :submit, :class => 'btn btn-primary btn-mini' %>
<% end %>

