<div class="hero-unit clearfix">
  <div class="pull-left span3">
    <h2>Welcome to BnBeezy</h2>
    <p><%= simple_format("An easy to use <strong>Bed and Breakfast Management</strong> portal for people in the accomodation industry. <strong>Guests</strong> can use it to make provisional bookings too!") %></p>
    <br>
  </div>
  <div class="pull-right">
    <div id="home_carousel" class="carousel slide container"><!-- class of slide for animation -->
      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <%= image_tag("bnb3.jpg") %>
          <div class="carousel-caption">
            <p>Welcome to BnBeezy <%= @session.to_s %></p>
          </div>
        </div>
         <% cache @photos do %>
          <%= render partial: 'carousel_items', collection: @photos, as: :photo %>
         <% end %>
      </div>
      <div class="loading hide"> <%= image_tag("black.png") %></div>
      <a class="carousel-control left" href="#home_carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#home_carousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4 columns" id="column1">
    <div class="thumbnail">
      <%= image_tag("bnb_home_screen.jpg") %>
      <div class="caption">
        <h5>Own a BnB?</h5>
        <br>
        <p>Register now and have access to features such as:</p>
        <ul>
          <li>Online bookings management</li>
          <li>Maintain BnB, guest and room information with an easy to use interface</li>
          <li>Upload photos easily to promote your bed and breakfast</li>
          <li>Your BnB will be promoted and advertised on the site</li>
        </ul>
        <p align="center"><%= link_to 'Register your bnb now', register_path("owner"), class: "btn btn-primary"  %></p>
      </div>
    </div>
  </div>
  <div class="span4 columns" id="column2">
  <div class="thumbnail">
    <%= image_tag("holiday.jpg") %>
    <div class="caption">
      <h5>Need a place to stay?</h5>
      <br>
      <p>Register now and have access to features such as:</p>
      <ul>
        <li>View guest houses/BnBs all over the world</li>
        <li>Search for BnBs in a specific area anywhere in the world</li>
        <li>Book online to guarantee peace of mind and focus on enjoying your holiday instead</li>
        <li>Maintains a history of your bookings for future reference</li>
      </ul>
      <p align="center"><%= link_to 'Register to book now', register_path("guest"), class: "btn btn-primary"  %></p>
    </div>
  </div>
</div>
  <div class="span4 columns" id="column3">
    <div class="thumbnail">
     <%= image_tag("find.jpg") %>
      <div class="caption">
        <h5>Find a place to stay</h5>
        <br>
        <p>Click here to:</p>
        <ul>
          <li>View all our registered BnBs</li>
          <li>Search for a specific BnB</li>
          <li>Search by a range of criteria ie (Country, Region, City etc).</li>
          <li>See detailed results about each BnB, including photos and the ability to view surrounding BnBs.</li>
        </ul>
        <p align="center"><%= link_to 'Search now', bnbs_path, class: "btn btn-primary"  %></p>
      </div>
    </div>
  </div>
</div>



