<div class="hero-unit clearfix">

<h2>Guests</h2>

<div class="header form-search" align="right">
  <%= form_tag bnb_guests_path(@bnb), :method => 'get', id: 'search_table_form' do %>
     <%= hidden_field_tag :direction, params[:direction] %>
     <%= hidden_field_tag :sort, params[:sort] %>    
     
     <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Search guests", :method => 'get' %>
       <% if params[:search]  %>
          <br>
          <label><%=link_to content_tag('i', '', class: 'icon-remove-sign icon-white').concat(" Show All"), bnb_guests_path(@bnb) %></label>
      <% end %>
  <% end %>
</div>



<% cache @guests do %>
<table class="table sort_table" id="guests" style="font-size: 15px">
  <tr id='table_headers'>
    <th><%= sortable "name" %></th>
    <th><%= sortable "surname" %></th>
    <th><%= sortable "contact_number" %></th>
    <th><%= sortable "email" %></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'row', :collection => @guests, :as => :guest %>
</table>
<% end %>

<label><%= link_to content_tag('i', '', class: 'icon-plus-sign icon-white').concat(' Add guest'), new_bnb_guest_path(@bnb) %></label>

<br/>
<div class="span9" style="text-align: center;"><%= will_paginate @guests  %></div>
<br>
<br>
<br>

  <div class="help_info">
    Information: Please note to edit a guest, click on the <i class='icon-edit icon-white'></i> button to proceed.
  </div>

</div>








