<div class="hero-unit clearfix">

<h2>Guests</h2>

<div class="header form-search" align="right">
  <%= form_tag bnb_guests_path(@bnb), :method => 'get', id: 'search_table_form' do %>
       <p>
     <%= hidden_field_tag :direction, params[:direction] %>
     <%= hidden_field_tag :sort, params[:sort] %>    
     
     <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Search guests", :method => 'get' %>
     <% if params[:search] %>
             <% if params[:search] != '' %>
                    <div> <%=link_to "Back to index", bnb_guests_path(@bnb) %></div>
                     <% end %>
             <% end %>
       </p>
  <% end %>
</div>


<table class="table sort_table" id="guests">
  <tr id='headers'>
    <th><%= sortable "name" %></th>
    <th><%= sortable "surname" %></th>
    <th><%= sortable "contact_number" %></th>
    <th><%= sortable "email" %></th>
  </tr>
  <%= render :partial => 'row', :collection => @guests, :as => :guest %>
</table>

<label><%= link_to content_tag('i', '', class: 'icon-plus-sign icon-white').concat(' Add guest'), bnb_guests_path(@bnb, @bnb.guests.build), method: :post, remote: true %></label>

<br/>
<div class="span9" style="text-align: center;"><%= will_paginate @guests  %></div>

  <div style="background-color: grey;font-size: 15px;align: center; position:absolute;">
    Information: Please note to edit any of the guest information click upon the item you wish to edit and proceed.
  </div>

</div>








