<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guest.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @guest.surname %>
</p>

<p>
  <b>Contact number:</b>
  <%= @guest.contact_number %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
