<h3>Booking confirmation required</h3>

<p><%= "#{@booking.guest.name}  #{@booking.id}" %></p>

<p>This is a notice of an online booking which is awaiting confirmation:
  <br>
  Starting: <%= @booking.event.start_at %>
  <br>
  Ending: <%= @booking.event.end_at %>
  <br>
  Guest: <%= @booking.guest.name %>
  <br>
  Rooms: <%= @booking.rooms.count %>
  <br>

  Once you confirm on the schedule the guest will be notified via email.
  <br>
  <%= link_to 'Confirm booking now', confirm_bnb_booking_url(@booking.bnb, @booking , { :auth_token => @user.authentication_token}) %>


</p>

<br>
<p>Regards</p>
<p>BnBeezy.com</p>