<div class="hero-unit clearfix">
  <div class="span4">
    <h2><%= best_in_place_if can?(:update, @bnb), @bnb, :name, type: :input %></h2>
    <h5>Description</h5>
    <p><%= best_in_place_if can?(:update, @bnb), @bnb, :description, type: :input %></p>

    <p align="center"><%= link_to "Book Now",  new_bnb_booking_path(@bnb), :class => "btn btn-primary" %></p>
  </div>
  <div class="span5 pull-right">
    <div class="thumbnail">
      <img alt="" src="http://placehold.it/640x480">
    </div>
  </div>
  <div class="span12" style="padding: 20px;">
    <div class="span4">
      <address>
        <strong>Address</strong>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_one, type: :input %>,
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_two, type: :input %>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :city, type: :input %>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :postal_code, type: :input %>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :country, type: :input %>
      </address>
    </div>
    <div class= "span4">
      <address>
        <strong>Contact</strong>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :contact_person, type: :input %>
        <br>
        telephone: <%= best_in_place_if can?(:update, @bnb), @bnb, :telephone_number, type: :input %>
        <br>
        <% if can? :update, @bnb %>
            mail: <%= best_in_place_if can?(:update, @bnb), @bnb, :email, type: :input %>
        <% else %>
            mail: <%= link_to @bnb.email, contactbnb_path(@bnb) %>
        <% end %>
        <br>
        <% if can? :update, @bnb %>
         <%= best_in_place_if can?(:update, @bnb), @bnb, :website, type: :input %>
        <% else %>
         <%= link_to @bnb.website, url_with_protocol(@bnb.website), :target => '_blank'  %>
        <% end %>
        <br>
        facebook: <%= best_in_place_if can?(:update, @bnb), @bnb, :facebook_page, type: :input %>
        <br>
        twitter: <%= best_in_place_if can?(:update, @bnb), @bnb, :twitter_account, type: :input %>

      </address>
    </div>
    <div class="span4">
      <%= link_to "Rooms", bnb_rooms_path(@bnb) %>
      <%= link_to "Guests", bnb_guests_path(@bnb) %>
      <%= link_to "Bookings", bnb_bookings_path(@bnb) %>
    </div>

  </div>


</div>

<div class="hero-unit clearfix">
  <div class="carousel span12" id="myCarousel">
    <div class="carousel-inner">
      <div class="item active">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </div>
          </li>
        </ul>
      </div>
      <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
      <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
    </div>
  </div>
</div>




