<div class="hero-unit clearfix">
  <div class="span4" align="left" style="padding-left: 20px;">
    <h2><%= best_in_place_if can?(:update, @bnb), @bnb, :name, type: :input %></h2>
    <h5>Description</h5>
    <p><%= best_in_place_if can?(:update, @bnb), @bnb, :description, type: :input %></p>
    <% if user_signed_in? %>
        <% if  current_user.role.description == 'Guest' %>
            <p align="center"><%= link_to "Book Now",  new_bnb_booking_path(@bnb), :class => "btn btn-primary" %></p>
        <% end %>
    <% else %>
        <p align="center"><%= link_to "Sign in to book",  new_user_session_path, :class => "btn btn-primary" %></p>
    <% end %>
  </div>
  <div class="span5 pull-right">
    <div class="thumbnail">
      <% unless @bnb.photos.nil? || @bnb.photos.empty? %>
      <%= image_tag @bnb.photos.find_by_main(true).image_url %>
      <% end %>
    </div>
  </div>
  <div class="span8" style="padding-top: 10px; text-align: left;" align="left">
    <div class="span4" align="left">
      <address>
        <strong>Address</strong>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_one, type: :input %>,
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_two, type: :input %>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :city, type: :input %>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :postal_code, type: :input %>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :country, type: :input %>
        <br>
        <% unless user_signed_in? && current_user.role.description == 'Owner' %>
         <%= link_to content_tag('i', '', class: 'icon-search icon-white').concat( 'Find other bnbs in the area'), nearby_bnbs_bnb_path(@bnb) %>
        <% end %>

      </address>
    </div>
    <div class="span4">
      <address>
        <strong>Contact</strong>
        <br>
        <%= best_in_place_if can?(:update, @bnb), @bnb, :contact_person, type: :input %>
        <br>
        telephone: <%= best_in_place_if can?(:update, @bnb), @bnb, :telephone_number, type: :input %>
        <br>
        <% if can? :update, @bnb %>
            mail: <%= best_in_place_if can?(:update, @bnb), @bnb, :email, type: :input %>
        <% else %>
            mail: <%= link_to @bnb.email, contactbnb_path(@bnb) %>
        <% end %>
        <br>
        <% if can? :update, @bnb %>
         <%= best_in_place_if can?(:update, @bnb), @bnb, :website, type: :input %>
        <% else %>
         <%= link_to @bnb.website, url_with_protocol(@bnb.website), :target => '_blank'  %>
        <% end %>
        <br>
        facebook: <%= best_in_place_if can?(:update, @bnb), @bnb, :facebook_page, type: :input %>
        <br>
        twitter: <%= best_in_place_if can?(:update, @bnb), @bnb, :twitter_account, type: :input %>
      </address>
    </div>


  </div>


</div>

<% unless @bnb.photos.empty? %>
<div class="hero-unit clearfix">
  <div class="carousel span12" id="myCarousel">
    <div class="carousel-inner">
      <div class="item active">
        <ul class="thumbnails">
          <% @bnb.photos.each do |photo| %>
           <% unless photo.main? %>
              <li class="span4">
                <div class="thumbnail">
                    <%=image_tag photo.image_url(:thumb) %>
                </div>
              </li>
           <% end %>
          <% end %>
        </ul>
      </div>
      <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
      <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
    </div>
  </div>
</div>
<% end %>




