<div class="hero-unit clearfix"><%= gmaps4rails(@json) %></div>


<% @bnbs.try(:each) do |bnb| %>
    <div class="row" id="bnb_row">
      <div class="span3 gallery">
      <div class="thumbnail" align="center">
        <% if  bnb.photos.main_photo.empty? %>
            <%=link_to placeholdit_image_tag("240",text: "No photos uploaded!"),show_bnb_path(bnb) %>
      <% else %>
            <%= link_to(image_tag(bnb.photos.main_photo.first.image_url(:thumb), :onload=>'lzld(this)', :onerror => 'lzld(this)'), show_bnb_path(bnb))%>
      <% end %>
      </div>
      </div>
      <div id="result_details" class="span6">
        <h5><%= bnb.name %></h5>
        <p><%= bnb.description %></p>
        <p><%= link_to "More...", show_bnb_path(bnb) %></p>
      </div>
    </div>
<% end %>

<%= will_paginate @bnbs  %>

<%= link_to "Back",:back%>











