<div class="hero-unit clearfix">
  <h2>Search</h2>
  <%= search_form_for @search, id: 'search_form' do |f| %>
      <div class="row"></div>
      <div class="name_field">
        <%= f.label :name_cont, "Name:" %>
        <%= f.text_field :name_cont, placeholder: "Search on BnB name" %>
      </div>

      <div class="rating_field">
        <%= f.label :rating_eq, "Rating:" %>
        <%= f.select :rating_eq, (1..5),  prompt: "Select a rating" %>
      </div>

      <div class="city_field">
        <%= f.label :city_cont, "City:" %>
        <%= f.text_field :city_cont, placeholder: "Search on city" %>
      </div>
      <br>
      <br>
      <br>
      <div class="actions">
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>


<h2>Search Results</h2>
<% params[:q] = {} %>
<p align="center"><%= link_to "Clear search results", bnbs_path(params) %></p>
<p align="center">Click on the city to filter results for the city only.</p>
<p align="center">Sort search results by: <%= sort_link(@search, :name, "BnB Name") %> or <%= sort_link(@search, :city, "City") %></p>

<% @bnbs.try(:each) do |bnb| %>
    <div class="row" id="bnb_row">
      <div class="span3 gallery">
      <div class="thumbnail" align="center">
      <% if  bnb.main_photo %>
            <%= link_to(image_tag(bnb.main_photo.image_url(:thumb)), show_bnb_path(bnb))%>
      <% else %>
            <%=link_to placeholdit_image_tag("240",text: "No photos uploaded!"),show_bnb_path(bnb) %>
      <% end %>
      </div>
      </div>
      <div id="result_details" class="span6">
        <h4><%= bnb.name %></h4>
        <% params[:q].update city_cont: bnb.city %>
        <p>Location: <%= link_to bnb.city, bnbs_path(params) %></p>
        <p><%= show_rating_stars(bnb.rating, invert: true) %></p>
        <p><%= simple_format bnb.description %></p>
        <p><%= link_to "More...", show_bnb_path(bnb) %></p>
      </div>
    </div>
    <hr>
<% end %>

<%= will_paginate @bnbs  %>

<%= link_to "Back",:back %>











