<div class="hero-unit clearfix"><p align="center"><%= gmaps4rails(@json) %></p></div>

<% @bnbs.each do |bnb| %>
    <div class="row" id="bnb_row">
      <div class="span3">
      <div class="thumbnail">
        <img alt="" src="http://placehold.it/160x120">
      </div>
      </div>
      <div class="span6">
        <h5><%= bnb.name %></h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><%= link_to "More...", show_bnb_path(bnb) %></p>
      </div>
    </div>
<% end %>

<%= will_paginate @bnbs  %>

<%= link_to "Back",:back%>











