<div class="hero-unit clearfix"><%= gmaps4rails(@json) %></div>


<% @bnbs.each do |bnb| %>
    <div class="row" id="bnb_row">
      <div class="span3">
      <div class="thumbnail">
        <% if bnb.photos.nil? || bnb.photos.empty? %>
            <%= placeholdit_image_tag "150", text: "No photos uploaded!" %>
        <% else %>
            <%= image_tag bnb.photos.find_main_photo.first.image_url(:thumb) %>
        <% end %>
      </div>
      </div>
      <div class="span6">
        <h5><%= bnb.name %></h5>
        <p><%= bnb.description %></p>
        <p><%= link_to "More...", show_bnb_path(bnb) %></p>
      </div>
    </div>
<% end %>

<%= will_paginate @bnbs  %>

<%= link_to "Back",:back%>











