<h2>Search Results</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Number of Rooms</th>
    <th>Description</th>
    <th>Email</th>
    <th>Telephone number</th>
    <th>Website</th>
    <th>Contact person</th>
  </tr>

<% @bnbs.each do |bnb| %>
  <tr>
    <td><%= bnb.name %></td>
    <td><%= bnb.rooms.size %></td>
    <td><%= bnb.description %></td>
    <td><%= bnb.email %></td>
    <td><%= bnb.telephone_number %></td>
    <td><%= bnb.website %></td>
    <td><%= bnb.contact_person %></td>
    <td><%= link_to 'Details', show_bnb_path(bnb) %></td>
  </tr>
<% end %>
</table>





