<div class="container-fluid">
   
  <div class="row-fluid">
     
    <div class="span12">
      <div class="hero-unit clearfix">
        <div id="details" class="span4" align="left">
          <h2><%= best_in_place_if can?(:update, @bnb), @bnb, :name, type: :input %></h2>
          <strong>Description</strong>

          <p><%= best_in_place_if can?(:update, @bnb), @bnb, :description, type: :input %></p>
          <% if user_signed_in? %>
              <% if current_user.is?(:guest) %>
                  <p align="center"><%= link_to "Book Now", new_bnb_booking_path(@bnb), :class => "btn btn-primary" %></p>
              <% end %>
          <% else %>
              <p align="center"><%= link_to "Sign in to book", new_user_session_path, :class => "btn btn-primary" %></p>

              <p align="center"><%= link_to "No Account? Register here. It's Free!", register_path("guest"), class: "btn btn-primary" %></p>
          <% end %>
        </div>
        <div class="span5 pull-right gallery">
          <div class="thumbnail">
            <% if @bnb.photos.empty? || @bnb.photos.main_photo.empty? %>
                <%= placeholdit_image_tag "300", text: "No photos uploaded!" %>
            <% else %>
                <%= image_tag @bnb.photos.main_photo.first.image_url %>
            <% end %>
          </div>
        </div>
        <div id="contact_and_address" class="span8" align="left">
          <div class="span4" align="left">
            <address>
              <strong>Address</strong>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_one, type: :input %>,
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_two, type: :input %>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :city, type: :input %>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :postal_code, type: :input %>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :country, type: :input %>
              <br>
              <% unless user_signed_in? && current_user.is?(:owner) %>
                  <%= link_to content_tag('i', '', class: 'icon-search icon-white').concat('Find other BnBs in the area'), nearby_bnbs_bnb_path(@bnb) %>
              <% end %>

            </address>
          </div>
          <div class="span4">
            <address>
              <strong>Contact</strong>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :contact_person, type: :input %>
              <br>
              telephone: <%= best_in_place_if can?(:update, @bnb), @bnb, :telephone_number, type: :input, display_with: :number_to_phone, helper_options: {area: true} %>
              <br>
              <% if can? :update, @bnb %>
                  mail: <%= best_in_place_if can?(:update, @bnb), @bnb, :email, type: :input %>
              <% else %>
                  mail: <%= mail_to @bnb.email %>
              <% end %>
              <br>
              <% if can? :update, @bnb %>
                  <%= best_in_place_if can?(:update, @bnb), @bnb, :website, type: :input %>
              <% else %>
                  <%= link_to @bnb.website, url_with_protocol(@bnb.website), :target => '_blank' %>
              <% end %>
              <br>
              facebook: <%= best_in_place_if can?(:update, @bnb), @bnb, :facebook_page, type: :input %>
              <br>
              twitter: <%= best_in_place_if can?(:update, @bnb), @bnb, :twitter_account, type: :input %>
            </address>
          </div>


        </div>


      </div>

      <div class="hero-unit clearfix gallery">
        <div class="carousel slide span12" id="support_photos_carousel">
          <div class="carousel-inner">
            <div class="item active">
              <ul class="thumbnails">
                <% if @bnb.photos.support_photos.any? %>
                    <% @bnb.photos.support_photos.try(:each) do |photo| %>
                        <li class=<%= "span3" %>>
                          <div class="thumbnail">
                            <a href="<%= photo.image_url %>" class="thumbnail" rel="lazybox">
                              <%= image_tag photo.image_url(:thumb) %>
                            </a>
                          </div>
                        </li>
                    <% end %>
                <% else %>
                    <% 4.times do %>
                        <li class='span3'>
                          <div class="thumbnail">
                            <%= placeholdit_image_tag "200", text: "No photos uploaded!" %>
                          </div>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
