  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit clearfix">
        <div id="details" class="span4" align="left">
          <h2><%= @bnb.name %></h2>
          <p align="center"><% @bnb.rating.times do %>
                <i class="icon-star icon-white"></i>
            <% end %></p>
          <br>

          <strong>Description</strong>

          <p><%= simple_format(@bnb.description) %></p>

          <br>
          <%= display_action_links_for_user  %>
        </div>
        <br>
        <br>
        <div class="span5 pull-right gallery">
          <div class="thumbnail">
            <% if @bnb.photos.processed.main_photo.empty? %>
                <%= placeholdit_image_tag "300", text: "No photos uploaded!" %>
            <% else %>
               <% cache @bnb.photos.processed.main_photo.first do %>
                    <a href="<%= @bnb.photos.processed.main_photo.first.image_url %>" class="thumbnail" rel="lazybox">
                     <%= image_tag @bnb.photos.processed.main_photo.first.image_url %>
                    </a>
               <% end %>
            <% end %>
          </div>
          <% if user_signed_in? && current_user.is?(:owner) %>
              <p align="center"> <%= link_to 'Add/Edit Photos', bnb_photos_path(@bnb) %></p>
          <% end %>
        </div>
        <div id="contact_and_address" class="span8" align="left">
          <div class="span4" align="left">
            <address>
              <strong>Address</strong>
              <br>
              <%= @bnb.address_line_one %>,
              <br>
              <%= @bnb.address_line_two %>
              <br>
              <%= @bnb.city %>
              <br>
              <%= @bnb.postal_code %>
              <br>
              <%= @bnb.country %>
              <br>
              <% unless user_signed_in? && current_user.is?(:owner) && @bnb.geocoded? %>
                  <%= link_to content_tag('i', '', class: 'icon-search icon-white').concat(' Find other BnBs in the area'), nearby_bnbs_bnb_path(@bnb) %>
              <% end %>

            </address>
          </div>
          <div class="span4">
            <address>
              <strong>Contact</strong>
              <br>
              Contact Person: <%= @bnb.contact_person %>
              <br>
              Telephone: <%= number_to_phone(@bnb.telephone_number, area: true ) %>
              <br>
              Mail: <%= mail_to @bnb.email %>
              <br>
              Website: <%= link_to @bnb.website, url_with_protocol(@bnb.website), :target => '_blank' %>
              <br>
              Facebook: <%= @bnb.facebook_page%>
              <br>
              Twitter: <%= @bnb.twitter_account %>
            </address>
          </div>
        </div>
      </div>

      <% if user_signed_in? && current_user.is?(:owner) %>
      <div class="center hero-unit clearfix">
        <%= link_to "Bookings", bnb_bookings_path(@bnb), :class => "btn-large btn-primary" %>
        <%= link_to "Guests", bnb_guests_path(@bnb), :class => "btn-large btn-primary" %>
        <%= link_to "Rooms", bnb_rooms_path(@bnb), :class => "btn-large btn-primary" %>
        <%= link_to "Photos", bnb_photos_path(@bnb), :class => "btn-large btn-primary" %>
        <%= link_to "Edit BnB Details", bnb_bnb_step_url(:bnb_details, :bnb_id => @bnb.id), :class => "btn-large btn-primary" %>
      </div>
      <% end %>
      <div class="hero-unit clearfix gallery" style="padding-bottom: 0px;">
        <div class="carousel slide span12" id="support_photos_carousel">
          <div class="carousel-inner">
            <div class="item active">
              <ul class="thumbnails">
                <% if @bnb.photos.processed.support_photos.any? %>
                   <% cache @bnb.photos.processed.support_photos do %>
                    <% @bnb.photos.processed.support_photos.try(:each) do |photo| %>
                        <li class=<%= "span3" %>>
                          <div class="thumbnail">
                            <a href="<%= photo.image_url %>" class="thumbnail" rel="lazybox">
                              <%= image_tag photo.image.url(:thumb) %>
                            </a>
                          </div>
                        </li>
                    <% end %>
                   <% end %>
                <% else %>
                    <li class=<%= "span3" %>>
                      <div class="thumbnail">
                          <%= placeholdit_image_tag "200", text: "No photos uploaded!" %>
                      </div>
                    </li>
                    <li class=<%= "span3" %>>
                      <div class="thumbnail">
                        <%= placeholdit_image_tag "200", text: "No photos uploaded!" %>
                      </div>
                    </li>
                    <li class=<%= "span3" %>>
                      <div class="thumbnail">
                        <%= placeholdit_image_tag "200", text: "No photos uploaded!" %>
                      </div>
                    </li>
                    <li class=<%= "span3" %>>
                      <div class="thumbnail">
                        <%= placeholdit_image_tag "200", text: "No photos uploaded!" %>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
         <% if user_signed_in? && current_user.is?(:owner) %>
           <p align="center"> <%= link_to 'Add/Edit Photos', bnb_photos_path(@bnb) %></p>
         <% end %>

        </div>
      </div>
      <div class="hero-unit clearfix" style="padding-top: 0px">
        <h2>Map</h2>
        <% if @json %>
        <%= gmaps({
                          "map_options" => {"auto_zoom" => false, "zoom" => 12 },
                          "markers" => {"data" => @json }
                  })
        %>
        <% else %>
         <p align="center">No map available at this time.</p>
        <% end %>
      </div>

    </div>
  </div>

