  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit clearfix">
        <div id="details" class="span4" align="left">
          <h2><%= @bnb.name %></h2>
          <strong>Description</strong>

          <p><%= simple_format(@bnb.description) %></p>

          <br>
          <%= display_action_links_for_user  %>
        </div>
        <div class="span5 pull-right gallery">
          <div class="thumbnail">
            <% if @bnb.photos.processed.main_photo.empty? %>
                <%= placeholdit_image_tag "300", text: "No photos uploaded!" %>
            <% else %>
               <% cache @bnb.photos.processed.main_photo.first do %>
                <%= image_tag @bnb.photos.processed.main_photo.first.image_url, :onload=>'lzld(this)', :onerror => 'lzld(this)' %>
               <% end %>
            <% end %>
          </div>
        </div>
        <div id="contact_and_address" class="span8" align="left">
          <div class="span4" align="left">
            <address>
              <strong>Address</strong>
              <br>
              <%= @bnb.address_line_one %>,
              <br>
              <%= @bnb.address_line_two %>
              <br>
              <%= @bnb.city %>
              <br>
              <%= @bnb.postal_code %>
              <br>
              <%= @bnb.country %>
              <br>
              <% unless user_signed_in? && current_user.is?(:owner) && @bnb.geocoded? %>
                  <%= link_to content_tag('i', '', class: 'icon-search icon-white').concat('Find other BnBs in the area'), nearby_bnbs_bnb_path(@bnb) %>
              <% end %>

            </address>
          </div>
          <div class="span4">
            <address>
              <strong>Contact</strong>
              <br>
              contact person: <%= @bnb.contact_person %>
              <br>
              telephone: <%= number_to_phone(@bnb.telephone_number, area: true ) %>
              <br>
               mail: <%= mail_to @bnb.email %>
              <br>
              <%= link_to @bnb.website, url_with_protocol(@bnb.website), :target => '_blank' %>
              <br>
              facebook: <%= @bnb.facebook_page%>
              <br>
              twitter: <%= @bnb.twitter_account %>
            </address>
          </div>
        </div>
      </div>

      <div class="hero-unit clearfix gallery">
        <div class="carousel slide span12" id="support_photos_carousel">
          <div class="carousel-inner">
            <div class="item active">
              <ul class="thumbnails">
                <% unless @bnb.photos.processed.support_photos.empty? %>
                   <% cache @bnb.photos.processed.support_photos do %>
                    <% @bnb.photos.processed.support_photos.try(:each) do |photo| %>
                        <li class=<%= "span3" %>>
                          <div class="thumbnail">
                            <a href="<%= photo.image_url %>" class="thumbnail" rel="lazybox">
                              <%= image_tag photo.image_url(:thumb), :onload=>'lzld(this)', :onerror => 'lzld(this)' %>
                            </a>
                          </div>
                        </li>
                    <% end %>
                   <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
