<div class="container-fluid">
   <div class="row-fluid">
     <div class="span3">
        <div class="well menu"> 
            <ul class="nav nav-pills nav-stacked">
              <li>
                <%= link_to 'Rooms', bnb_rooms_path(@bnb) %>
              </li>
              <li>
                <%= link_to 'Gallery', photos_path %>
              </li>
              <li>
                <%= link_to 'Bookings', calendar_path %>
              </li>
              <li>
                <%=  link_to 'Book a Room', new_booking_path %>
              </li>
            </ul>
           </div>
     </div>

  <div class="span9">
          <%=render 'bnbs/showbnb' %>
    </div>
</div>
</div>