<div class="container-fluid">
   
  <div class="row-fluid">
     
    <div class="span12">
      <div class="hero-unit clearfix">
        <div id="details" class="span4" align="left">
          <h2><%= best_in_place_if can?(:update, @bnb), @bnb, :name, type: :input %></h2>
          <strong>Description</strong>

          <p><%= best_in_place_if can?(:update, @bnb), @bnb, :description, type: :input %></p>

          <%= display_action_links_for_user  %>
        </div>
        <div class="span5 pull-right gallery">
          <div class="thumbnail">
            <% if @bnb.photos.empty? || @bnb.photos.main_photo.empty? %>
                <%= placeholdit_image_tag "300", text: "No photos uploaded!" %>
            <% else %>
               <% cache @bnb.photos.main_photo.first do %>
                <%= image_tag @bnb.photos.main_photo.first.image_url, :onload=>'lzld(this)', :onerror => 'lzld(this)' %>
               <% end %>
            <% end %>
          </div>
        </div>
        <div id="contact_and_address" class="span8" align="left">
          <div class="span4" align="left">
            <address>
              <strong>Address</strong>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_one, type: :input %>,
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :address_line_two, type: :input %>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :city, type: :input %>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :postal_code, type: :input %>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :country, type: :input %>
              <br>
              <% unless user_signed_in? && current_user.is?(:owner) && @bnb.geocoded? %>
                  <%= link_to content_tag('i', '', class: 'icon-search icon-white').concat('Find other BnBs in the area'), nearby_bnbs_bnb_path(@bnb) %>
              <% end %>

            </address>
          </div>
          <div class="span4">
            <address>
              <strong>Contact</strong>
              <br>
              <%= best_in_place_if can?(:update, @bnb), @bnb, :contact_person, type: :input %>
              <br>
              telephone: <%= best_in_place_if can?(:update, @bnb), @bnb, :telephone_number, type: :input, display_with: :number_to_phone, helper_options: {area: true} %>
              <br>
              <% if can? :update, @bnb %>
                  mail: <%= best_in_place_if can?(:update, @bnb), @bnb, :email, type: :input %>
              <% else %>
                  mail: <%= mail_to @bnb.email %>
              <% end %>
              <br>
              <% if can? :update, @bnb %>
                  <%= best_in_place_if can?(:update, @bnb), @bnb, :website, type: :input %>
              <% else %>
                  <%= link_to @bnb.website, url_with_protocol(@bnb.website), :target => '_blank' %>
              <% end %>
              <br>
              facebook: <%= best_in_place_if can?(:update, @bnb), @bnb, :facebook_page, type: :input %>
              <br>
              twitter: <%= best_in_place_if can?(:update, @bnb), @bnb, :twitter_account, type: :input %>
            </address>
          </div>
        </div>
      </div>

      <div class="hero-unit clearfix gallery">
        <div class="carousel slide span12" id="support_photos_carousel">
          <div class="carousel-inner">
            <div class="item active">
              <ul class="thumbnails">
                <% unless @bnb.photos.support_photos.empty? %>
                   <% cache @bnb.photos.support_photos do %>
                    <% @bnb.photos.support_photos.try(:each) do |photo| %>
                        <li class=<%= "span3" %>>
                          <div class="thumbnail">
                            <a href="<%= photo.image_url %>" class="thumbnail" rel="lazybox">
                              <%= image_tag photo.image_url(:thumb), :onload=>'lzld(this)', :onerror => 'lzld(this)' %>
                            </a>
                          </div>
                        </li>
                    <% end %>
                   <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
