<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :guest_id %>
    <%= f.association :rooms, :label_method => :description, :value_method => :id, :as => :check_boxes %>
    <%= f.input :active %>

    <br>

    <%= f.simple_fields_for :event  do |event_form| %>
     <%=  event_form.input :name %>
     <%=  event_form.input :start_at, :as => :datepicker %>
     <%=  event_form.input :end_at, :as => :datepicker %>

    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
