
<%= simple_form_for @booking, url: bnb_bookings_path(@bnb),:html => {:'data-type' => 'json'}, :remote => true do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <div class ="well">
        <h4>Select booking dates:</h4>
        <div class="row-fluid">
          <%= f.simple_fields_for :event  do |event_form| %>
              <div class="span6">
                <%= event_form.input :start_at, :as => :datepicker%>
              </div>
              <div class="span6">
                <%= event_form.input :end_at,  :as => :datepicker%>
              </div>
          <% end %>
        </div>
      </div>

      <br>

      <div id='guest' class='well'>



        <h4>Search for a guest or click the link to add a new one:</h4>
        <br>
        <div id='find_guest'><%= f.association :guest%></div>
        <div><%= link_to_add_association content_tag('i', '', class: 'icon-plus-sign').concat('Add a new guest'), f, :guest %></div>
      </div>

      <div id='rooms' class='well'>
        <h4>Available rooms</h4>
        <br>
        <%= link_to content_tag('i', '', class: 'icon-search').concat(' Find Rooms'), find_available_bnb_rooms_path(@bnb), :id=> 'room_finder' %>
        <div id ='rooms_available'></div>
      </div>

    </div>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
