
<%= simple_form_for @booking, :remote => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="row-fluid">
      <%= f.simple_fields_for :event  do |event_form| %>
          <div class="span6">
            <%= event_form.input :start_at, :as => :datepicker%>
          </div>
          <div class="span6">
            <%= event_form.input :end_at,  :as => :datepicker%>
          </div>
      <% end %>
    </div>

    <br>

      <div id='guest'>
         <div id='find_guest'><%= f.input :guest_name, :input_html => { data: { autocomplete_source: guests_path} } %></div>
         <%= link_to_add_association 'Add a new guest', f, :guest %>
      </div>


    <div id='rooms'>
     <%= link_to 'Find available rooms', find_available_rooms_bookings_path, :id=> 'room_finder' %>
     <%= f.association :rooms, :label_method => :description, :value_method => :id, :as => :check_boxes, :item_wrapper_class => 'inline' %>
    </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
