<div class="nested-fields">
<h5>Guest details:</h5>
<%= f.input :name %>
<%= f.input :surname %>
<%= f.input :contact_number %>
<%= f.input :email %>
<%= f.hidden_field :bnb_id, value: @bnb.id %>
</div>
