<h2>Booking details</h2>
<p>
  <b>Guest:</b>
  <%= booking.guest_name %>
</p>

<p>
  <b>Check In:</b>
  <%= booking.event_start_at.strftime('%A, %d %B %Y') %>
</p>

<p>
  <b>Check Out:</b>
  <%= booking.event_end_at.strftime('%A, %d %B %Y') %>
</p>

<ul class="unstyled">
  <lh>
    <b>Rooms:</b>
  </lh>
  <% booking.rooms.each do |room| %>
    <li>
      <%=room.room_number.to_s %>
    </li>
  <% end %>
</ul>

<div id='booking_info' class="btn-group" style="text-align: center;">
<p><% if can? :confirm, @booking %><%= display_checkin_or_checkout(booking) %><% end %> <%= link_to 'Cancel',booking_path, id: 'deleteBooking', method: :delete ,class: "btn btn-danger" %></p>
</div>


