<h2>Booking details</h2>
<p>
  <b>Guest:</b>
  <%= booking.guest.name %>
</p>

<p>
  <b>Check In:</b>
  <%= booking.event_start_at %>
</p>

<p>
  <b>Check Out:</b>
  <%= booking.event_end_at %>
</p>

<ul class="unstyled">
  <lh>
    <b>Rooms:</b>
  </lh>
  <% booking.rooms.each do |room| %>
    <li>
      <%=room.description %>
    </li>
  <% end %>
</ul>

<div id='booking_info' style="text-align: center;">
<% if can? :confirm, @booking %><%= display_checkin_or_checkout(booking) %><% end %> <%= link_to 'Edit', edit_bnb_booking_path(@bnb,booking), :class => "btn btn-inverse" %> <%= link_to 'Remove', bnb_booking_path(@bnb,booking), id: 'deleteBooking', method: :delete , :remote => true %>
</div>


