<h2>Booking details</h2>
<p>
  <b>Guest:</b>
  <%= booking.guest_name %>
</p>

<p>
  <b>Check In:</b>
  <%= booking.event_start_at.strftime('%A, %d %B %Y') %>
</p>

<p>
  <b>Check Out:</b>
  <%= booking.event_end_at.strftime('%A, %d %B %Y') %>
</p>

<ul class="unstyled">
  <lh>
    <b>Rooms:</b>
  </lh>
  <% booking.rooms.each do |room| %>
    <li>
      <%= " #{room.room_number.to_s} #{room.description}" %>
    </li>
  <% end %>
</ul>


<div>
<p><%= display_checkin_or_checkout(booking) %> <%= link_to content_tag('i', '', class: 'icon-minus-sign').concat('Cancel'), booking_path, :id => 'deleteBooking', method: :delete, remote: true %></p>
</div>


