<div class="hero-unit">
<%= simple_form_for @booking, url: bnb_bookings_path(@bnb) do |f| %>
    <%= f.error_notification %>


        <h4>Select booking dates:</h4>
        <div class="row-fluid">
          <%= f.simple_fields_for :event  do |event_form| %>
              <div class="span6">
                <%=event_form.input :start_at, :label => "Check in", :as => :datepicker %>
              </div>
              <div class="span6">
                <%= event_form.input :end_at, :label => "Check out",  :as => :datepicker%>
              </div>
          <% end %>
        </div>
      <br>

      <div id='guest'>
        <%= f.simple_fields_for :guest  do |guest_form| %>
              <%= guest_form.input :name %>
              <%= guest_form.input :surname %>
              <%= guest_form.input :contact_number %>
              <%= guest_form.hidden_field :bnb_id, value: @bnb.id %>
        <% end %>
      </div>

      <br>

      <div id='rooms'>
        <h4>Available rooms</h4>
        <br>
        <%= link_to content_tag('i', '', class: 'icon-search').concat(' Find Rooms'), find_available_bnb_rooms_path(@bnb), :id=> 'room_finder' %>
        <div id ='rooms_available'></div>
      </div>
     <br>

    <div class="span9" style="text-align: center;">
      <%= f.hidden_field :online, value: true  %>
      <%= f.hidden_field :rooms_required, value :false %>
      <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>
<% end %>
</div>
