<%= wicked_pdf_stylesheet_link_tag "application" %>

<div class="row">
    <div style="float:right">
      <address>
        <strong>Address</strong>
        <br>
        <%= @bnb.address_line_one %>
        <br>
        <%= @bnb.address_line_two %>
        <br>
        <%= @bnb.city %>
        <br>
        <%= @bnb.postal_code %>
        <br>
        <%= @bnb.country %>
      </address>
    </div>

    <div style="float:left">
      <h4>
        <%= @bnb.name %>
      </h4>
      <p>
        <%= @bnb.email %>
      </p>
    </div>
</div>


<div class="document">
  <p><b>Guest: </b><%= @booking.guest.name.concat(" ").concat(@booking.guest.surname).camelcase %></p>

  <p><b>Period of stay:</b> <%= @booking.event_start_at.strftime('%A, %d %B %Y') %> to <%= @booking.event_end_at.strftime('%A, %d %B %Y') %> </p>
  <br>

  <table class="table table-condensed" id="line_items">
    <tr>
      <th>Description</th>
      <th>Cost</th>
    </tr>
    <% @booking.line_items.each do |line_item| %>
        <tr id=<%=line_item.id%>>
          <td><%= line_item.description %></td>
          <td><%= number_to_currency (line_item.value) %></td>
        </tr>
    <% end %>
    </table>
    <div id='Total_Cost'>
    <p id='total'>Total: <%= number_to_currency(@booking.total_price) %></p>
    </div>
</div>

