<div class="hero-unit clearfix">
  <h1>My Bookings</h1>

<div class="header form-search" align="right">
  <%= form_tag my_bookings_bookings_path, :method => 'get', id: 'search_table_form' do %>
    <p>
         <%= hidden_field_tag :direction, params[:direction] %>
         <%= hidden_field_tag :sort, params[:sort] %>    
         <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Search by bnb", :method => 'get' %>
         <% if params[:search] %>
                 <% if params[:search] != '' %>
                        <div> <%=link_to "Back to index", my_bookings_bookings_path %></div>
                         <% end %>
                 <% end %>
    </p>
  <% end %>
</div>

<% unless @active_bookings.nil? || @active_bookings.empty? %>
   <h2>Current</h2>
 <%= render :partial => 'client_bookings_table', :locals => {bookings: @active_bookings, info_page: 'active_page'  } %>
<% end %>

<% unless @inactive_bookings.nil? || @inactive_bookings.empty? %>
   <h2>History</h2>
 <%= render :partial => 'client_bookings_table', :locals => {bookings: @inactive_bookings, info_page: 'inactive_page'  } %>
<% end %>


</div>



