<div class="hero-unit" style="font-size: 14px" >

<h2>Booking costs</h2>
<p>
  <b>Guest:</b>
  <%= @booking.guest.name %>
</p>



<p>
  <b>Check In:</b>
  <%= @booking.event_start_at %>
</p>

<p>
  <b>Check Out:</b>
  <%= @booking.event_end_at %>
</p>


<table class="table table-condensed" id="line_items">
  <tr>
    <th>Description</th>
    <th>Value</th>
  </tr>
  <% @booking.line_items.each do |line_item| %>
      <%= render :partial => 'line_item_row', locals: { line_item: line_item} %>
  <% end %>
</table>
<div><%= link_to content_tag('i', '', class: 'icon-plus-sign icon-white'), booking_line_items_path(@booking), method: :post, remote: true %></div>
<div id='Total_Cost'>
  <%= render :partial => 'total_cost' %>
</div>
<br>
<br>
<div>
  <%= link_to 'Print Invoice', print_pdf_bnb_booking_path(@bnb, @booking, format: :pdf), class: 'btn btn-primary' %>
</div>
</div>








