<tr id="<%=room.id %>" class="center" >
  <td><%= best_in_place room, :room_number, :type => :input %></td>
  <td><%= best_in_place room, :description, :type => :input %></td>
  <td><%= best_in_place room, :en_suite, :type => :checkbox  %></td>
  <td><%= best_in_place room, :extras, :type => :input %></td>
  <td><%= best_in_place room, :rates, :display_with => :number_to_currency %></td>
  <td><%= best_in_place room, :capacity, :type => :input %></td>
  <td><%= best_in_place room, :available, :type => :checkbox  %></td>
  <td title="Click to delete" rel="tooltip"><%= link_to content_tag('i', '', class: 'icon-remove-sign'), room, confirm: 'Are you sure?', :id => 'delete', method: :delete, remote: true %></td>
</tr>