<div class="hero-unit clearfix">
<h2>Rooms</h2>



<div class="header form-search" align="right">
  <%= form_tag bnb_rooms_path(@bnb), :method => 'get', id: 'search_table_form' do %>
     <%= hidden_field_tag :direction, params[:direction] %>
     <%= hidden_field_tag :sort, params[:sort] %>    
     <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Search rooms", :method => 'get' %>
      <% if params[:search]  %>
          <br>
          <label><%=link_to content_tag('i', '', class: 'icon-remove-sign icon-white').concat(" Show all"), bnb_rooms_path(@bnb) %></label>
      <% end %>
  <% end %>
</div>


<table class="table  sort_table" id="rooms">
  <tr id='headers'>
    <th><%= sortable "room_number" %></th>
    <th><%= sortable "description"  %></th>
    <th><%= sortable "en_suite" %></th>
    <th><%= sortable "extras" %></th>
    <th><%= sortable "rates" %></th>
    <th><%= sortable "capacity" %></th>
    <th><%= sortable "available" %></th>
    <th></th>
  </tr>
  <%= render :partial => 'row', :collection => @rooms, :as => :room %>
</table>

<label><%= link_to content_tag('i', '', class: 'icon-plus-sign icon-white').concat(' Add room'), bnb_rooms_path(@bnb, @bnb.rooms.build), :id => 'test', method: :post, remote: true %></label>

<br/>

<div class="span9" style="text-align: center;"><%= will_paginate @rooms  %></div>

<div class="help_info">
    Information: Please note to edit any of the room information click upon the item you wish to edit and proceed.
</div>

</div>
