<%= direct_upload_form_for @photo.image do |f| %>
    <div class="controls"><div class="input-append">
      <input id="filepath" name="filepath" disabled="disabled" size="50" type="text" /><button class="btn btn-primary" id="browse_files" name="button" type="button">Browse</button>
    </div></div>
    <div style="display: none;"><%= f.file_field :image, :class => "image_file", :id => "upload" %></div>
    <%= f.submit  "Upload to BnBeezy" ,:class => "btn btn-primary show-progress" %>
<% end %>

<div class="help_info">
  <ul>
    <li>
      <%= simple_format("<h5>Choose file:</h5> Click on the browse button to open up the file search screen and select the file you wish to upload. The filename will appear in the text box showing your file has been selected.") %>
    </li>
    <li>
      <%= simple_format("<h5>Upload file:</h5> Click the upload button, once the upload is complete you will be redirected back to the photo gallery page. NB Images will be processed after the upload so it may take a few minutes to appear in the gallery.") %>
    </li>
    <li>
      <%= simple_format("<h5>Main image:</h5> If this is your main image, the recommended dimensions are 640 by 480 for best quality and display on the home screen.") %>
    </li>
  </ul>
</div>
