
    <h2>Your images</h2>
    <div>
        <% if @photos.count >= 1 %>
            <%= render @photos %>
        <% else %>
            <p class='center'>There are currently no images for your gallery</p>
        <% end %>
    </div>
  <div class='well'>
      <% if can? :create, Photo %>       
          <%= simple_form_for Photo.new, :url => bnb_photos_path(@bnb), :html => { :multipart => true}  do |f| %>
              <%= f.error_notification %>
              <%= f.input :description %>
              <%= f.file_field :image %>
          <% end %>   
      <% end %>
  </div>
