<h2>Your images</h2>
<div class="gallery">
  <% if  @photos.any? %>
      <%= render @photos %>
  <% else %>
      <p class='center'>There are currently no images for your gallery</p>
  <% end %>
</div>

<% if can? :create, Photo %>       
 <%= link_to "Upload an image", new_bnb_photo_path(@bnb) unless @photos.any? && @bnb.photos.count >= 5 %>
<% end %>
<br>
<br>
<div class="help_info">
  <ul>
    <li>
      <%= simple_format("<h5>Main photo:</h5> The photo designated as main will be highlighted with a red border.") %>
    </li>
    <li>
      <%= simple_format("<h5>Click to enlarge:</h5> Clicking on an image will open a popup with the full size version.") %>
    </li>
    <li>
      <%= simple_format("<h5>Remove:</h5> Click on remove to delete the image.") %>
    </li>
    <li>
      <%= simple_format("<h5>Limit:</h5> Maximum of 5 photos per bnb with a maximum size of 1 mb per image.") %>
    </li>
  </ul>
</div>


