<div>
  <h2>Your images</h2>
  <% if @photos.count >= 1 %>
      <ul class="thumbnails" display="inline-table">
            <% @photos.each do |photo| %>
                <li class="span2">
                  <div class="thumbnail">
                    <%= image_tag photo.image_url(:thumb) if photo.image? %>
                    <p><%= photo.description %></p>
                    <%= link_to 'Remove', photo_url(photo), method: :delete, :remote => true  %>
                  </div>
                </li>
            <% end %>
      </ul>
  <% else %>
      <p class='center'>There are currently no images for your gallery</p>
  <% end  %>
</div>
<div class='well'>
  <%= simple_form_for Photo.new, :url => photos_path, :html => { :multipart => true}  do |f| %>
      <%= f.error_notification %>
      <%= f.input :description %>
      <%= f.file_field :image %>
  <% end %>
</div>

