<div class="hero-unit">
<h2>Add new image</h2>
  <%= simple_form_for @photo, :url => bnb_photos_path(@bnb)  do |f| %>
      <%= f.error_notification %>
      <%= image_tag(@photo.image)  %>
      <%= f.input :description, as: :string %>
      <%= f.input :main, label: false, inline_label: 'Would you like to make this your main photo?' %>
      <%= f.hidden_field :key %>
      <br>
      <%= f.submit "Save",:class => "btn btn-primary"%>
  <% end %>
</div>