<div class='hero-unit'>
  <div class="exceptions">
    <h4>Image upload failed, avoid errors by following below guidelines:</h4>
    <ul>
      <li>
        <%= simple_format("<h5>File Name:</h5> Filename should be one word or seperated by underscores if more than one word. Must not contain any special characters like */+ etc. Must not be too long.") %>
      </li>
      <li>
        <%= simple_format("<h5>File Size:</h5> Images are limited to a size of one megabyte.") %>
      </li>
      <li>
        <%= simple_format("<h5>File Types:</h5>  Images of the following types are accepted by BnBEezy: jpg, jpeg, gif, png. ") %>
      </li>
      <li>
        <%= simple_format("<h5>Support:</h5> If the problem persists, please contact us at support@searleconsulting.co.za") %>
      </li>
    </ul>
  </div>
  <br>
  <p align="center"><%= link_to 'Try again', new_bnb_photo_path(@bnb)%> or <%= link_to 'Return to gallery', bnb_photos_path(@bnb)%> </p>

</div>