<div class="hero-unit">
    <h2>Please fill in details for your Bed and Breakfast</h2>

    <%= render :layout => 'form' do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :standard_rate, :wrapper => :prepend, :class => "inline", :label => "Rates (Per person sharing)" do %>
              <%= content_tag :span, "R", :class => "add-on", :style => "color:black;" %>
              <%= f.input_field :standard_rate, value: number_with_precision(f.object.standard_rate, precision: 2)%>
          <% end %>
          <%= f.input :rating, :collection => 1..5,  :as => :radio_buttons, :item_wrapper_class => 'inline' %>
        </div>
        <br>
      <%= f.button :submit, :value => 'Continue', :id => 'commit', class: "btn btn-primary" %>
    <% end %>
</div>