<div class="hero-unit">
<%= render :layout => 'form' do |f| %>
        <div class = 'form-inputs'>
          <%= f.input :email %>
          <%= f.input :address_line_one %>
          <%= f.input :address_line_two %>
          <%= f.input :city %>
          <%= f.input :postal_code %>
          <%=f.input :country, :collection => sort_countries_for_carmen(Carmen::Country.all),  prompt: "Select a country",label: false %>
          <%= render 'shared/select_region',  :parent_region => f.object.country %>
          <%= f.input :telephone_number %>
          <%= f.input :website %>
        </div>
      <%= f.button :submit, :value => 'Continue', :id => 'commit', class: "btn btn-primary" %>
<% end %>
</div>
