<div class="hero-unit">
  <h2>Please fill in your social media details.</h2>
<%= render :layout => 'form' do |f| %>
        <div class = 'form-inputs'>
          <%= f.input :email %>
          <%= f.input :telephone_number %>
          <%= f.input :website %>
          <%= f.input :address_line_one %>
          <%= f.input :address_line_two %>
          <%= f.input :city %>
          <%= f.input :postal_code %>
          <%= f.input :country, :collection => sort_countries_for_carmen(Carmen::Country.all),  prompt: "Select a country" %>
        </div>
      <%= f.button :submit, :value => 'Continue', :id => 'commit', class: "btn btn-primary" %>
<% end %>
</div>
