<%= render :layout => 'form' do |f| %>
        <div class = 'form-inputs'>
          <%= f.input :email %>
          <%= f.input :address_line_one %>
          <%= f.input :address_line_two %>
          <%= f.input :city %>
          <%= f.input :postal_code %>
          <%= f.country_select :country %>
          <%= f.input :telephone_number %>
          <%= f.input :website %>
        </div>
<% end %>