<div class="hero-unit">
  <h2>Please fill in the rates for your Bed and Breakfast</h2>

  <%= render :layout => 'form' do |f| %>
          <table id="rates_table">
          <th>Description</th>
          <th>Price</th>
          <%= f.simple_fields_for :rates ,wrapper: false do |rate| %>
              <%= render 'rate_fields', :f => rate %>
          <% end %>
          </table>
          <div class="links"><%= link_to_add_association 'Add Rate', f, :rates, :'association-insertion-node' => '#rates_table tr:last',  :'association-insertion-method' => 'append' %></div>

      <br>
      <%= f.button :submit, :value => 'Continue', :id => 'commit', class: "btn btn-primary" %>
  <% end %>

  <br>
  <br>
  <div class="help_info">
    <ul>
      <li>
        <%= simple_format("<h5>Description:</h5> This field is used to describe the rates, Eg. Single Occupancy, Double Occupancy, Per person sharing, Per room etc. ") %>
      <li>
        <%= simple_format("<h5>Add a rate:</h5> Click the add rate button to add another rate.") %>
      </li>
      <li>
        <%= simple_format("<h5>Remove a rate:</h5> Click the <i class=icon-remove icon-white></i> to remove a rate no longer needed.") %>
      </li>
    </ul>
  </div>
</div>