
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BnBeezy", correct_root_for_user , id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", correct_root_for_user  %></li>
          <li><%= link_to "Screenshots", screens_path unless user_signed_in? %></li>
          <% if user_signed_in? %>
             <%= render fetch_menu_for_role  %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Cancel Account", registration_path(current_user), :data => { :confirm => "Are you sure?" }, :method => :delete %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Register Now", registration_page_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
