
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BnBeezy", current_user.try(:is?, :owner) ?show_bnb_path(current_user.bnb) : root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", current_user.try(:is?, :owner) ?show_bnb_path(current_user.bnb) : root_path %></li>
          <li><%= link_to "Screenshots", screens_path %></li>
          <% if user_signed_in? %>
            <% if current_user.is?(:owner) %>
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      MyBnB <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Details", show_bnb_path(current_user.bnb) %></li>
                    <% unless current_user.bnb.nil? %>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Bookings", bnb_bookings_path(current_user.bnb) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Rooms", bnb_rooms_path(current_user.bnb) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Guests", bnb_guests_path(current_user.bnb) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Photos", bnb_photos_path(current_user.bnb) %>
                      </li>
                    <% end %>
                    </ul>
                  </li>
            <% else %>
                  <li><%= link_to "History", my_bookings_bookings_path  %></li>
            <% end %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Register Now", registration_page_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
