<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title><%= full_title(yield(:title)) %></title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name if Rails.application.assets.find_asset "#{controller_name}.js.coffee" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %>" data-controller="<%= controller_path %>" data-action="<%= action_name %>">
<img alt="full screen background image"  id="full-screen-background-image" src=<%= image_path("background_wood.jpg") %> />
<%= render 'layouts/header' %>
<div class="container">
  <div class="content">
    <div class="row">
      <div class="span12">
        <div id="flash">
          <%= render :partial => 'shared/flash_messages' %>
        </div>
                <% if browser.ie6? || browser.ie7? || browser.ie8? %>
                     <div class="ie_warn">                    
                             <p style="text-align: center;">WARNING: You're running an older version of Internet Explorer that is not fully supported.
        <br> For more information, please click <%= link_to 'here', ie_warning_path %> </p>
                       </div>
                   <% end %>
        <%= yield %>
        <%= yield :scripts %>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>


